
<% provide(:title, "About") %>


	<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">About polittizen</h1>
    </div>
  </div>
  
<div class="container">
  <div class="paddings" style="background-color: white;">
    <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
      <div class="row">   

        	
        	<div class="col-md-2"></div>

      		<div class="col-md-8">
      			<h1 style="font-size: 30px;">About polittizen</h1>
						<h5 style="font-size: 18px; margin: 20px;">
						  En polittizen queremos generar una comunidad con las personas que piensan que la política necesita un cambio y que las cosas deberían hacerse mejor.
						</h5>
						<h5>
							
						</h5>
						<h5 style="font-size: 18px; margin: 20px;">
							Buscamos a personas que quieran ejercer de forma activa en su comunidad y que los partidos actuales o no se lo permite o no se siente identificado con la política que se lleva a cabo dentro de los partidos.
						</h5>
						<h5 style="font-size: 18px; margin: 20px;">
							Los anteriores grupos por separado no pueden funcionar, el primero porque no disponen de otra opción; el segundo, si no disponen de la estructura de un partido únicamente se dispone de recursos propios para ser elegido.
						</h5>
						<h5 style="font-size: 18px; margin: 20px;">
							<b>¿Que ocurriría si juntasemos a los dos grupos?</b>
						</h5>
					</div>				         
					
      </div> 
    </div>
  </div>

</div>
