<% provide(:title) %>
<div class="howtouse">

  <div class="imagen_fondo" style="margin-top: -10px;">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">¿Quieres ser candidato?</h1>
    </div>
  </div>

    <div class="paddings" style="background-color: white;">
      <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
        <div class="row">     
        <div class="col-md-12 ">
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;">
                  <i class="fa fa-university" aria-hidden="true"><span style="padding-bottom: -15px;"><i class="fa fa-user" aria-hidden="true" style="margin-left: -40px; color: #0084B4; font-size: 30px; "></i></i></span>
                </h1>
                <h3 style="text-align: center;">1. Crea tu usuario</h3>
              </li>
              <li>
                <h5>Para poder ser candidato y poder optar a alguna candidatura es necesario ser un usuario registrado. <%= link_to "Hazte usuario", signup_path  %></h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-circle-o" aria-hidden="true"></i></h1>
              </li>
              <li>
                <h3 style="text-align: center;">2. Selecciona tus lobbies administrativos</h3>
                <h5 style="">Lo siguiente es seleccionar tus lobbies administrativos, el de tu país, tu autonomía o estado, y el de tu ciudad y/o provincia.</h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-gears" aria-hidden="true"></i></h1>
              </li>
                <h3 style="text-align: center;">3. Dinos que quieres ser candidato.</h3>
                <h5 style="">En la cabecera, dentro de configuración de usuario indícanos que quieres ser candidato.</h5>
              </li>
            </ul>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-6">
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-youtube" aria-hidden="true"></i></h1>
                <h3 style="text-align: center;">4. Promociónate!</h3>
              </li>              
              <li>
                <h5 style="">Promociónate dentro de la plataforma, haz un video de presentación para adjuntarlo en tu perfil donde muestres lo mejor de ti.</h5>
                <h5>Cuanto más apoyos tengas de otros usuarios mayores posibildades tendrás de entrar en una candidatura, sube videos comentando la actualidad de tus lobbies, adjunta noticias, participa en debates.</h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></h1>
                <h3 style="text-align: center;">5. Comparte!</h3>
              </li>              
              <li>
                <h5 style="">Haz saber a todo el mundo que eres un candidato para tu comunidad.</h5>
                <h5>Comentalo en tus redes sociales y trae amigos para que te apoyen y colaboren con el resto de usuarios.</h5>
                <h5>Comparte los links de tus consultas para que conozcan tus ideas y ganar apoyos.</h5>
              </li>
            </ul>
          </div>          
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-smile-o" aria-hidden="true"></i></h1>
                <h3 style="text-align: center;">6. Muchas gracias!</h3>
              </li>              
              <li>
                <h5 style="">Muchas gracias por querer mejorar nuestra sociedad! </br> Desde polittizen trabajaremos durísimo para que tengas las mejores oportunidades para llevarlo a cabo.</h5>
              </li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
  </div>

</div>