
	<% provide(:title, "Help") %>
	<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">Help</h1>
    </div>
  </div>

<div class="container">
  <div class="paddings" style="background-color: white;">
    <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
      <div class="row">   

        	
        	<div class="col-md-2"></div>
      		<div class="col-md-8">
      			<h1 style="font-size: 30px;">Help</h1>
						<h5 style="font-size: 20px; margin: 20px;">
						  Aún estamos esperando y no podermos facilitarte una persona para que puedas conectar directamente.
						</h5>
						<h5>
							
						</h5>
						<h5 style="font-size: 20px; margin: 20px;">
							Pero si nos mandas un correo no tardaremos nada en contestarte.
						</h5>
						<h5 style="font-size: 20px; margin: 20px;">
							Nuestro correo es el siguiente: <b>polittizen@gmail.com</b>
						</h5>
					</div>				         
					
      </div> 
    </div>
  </div>

</div>
</div>