<% provide(:title) %>
<div class="howtouse">

  <div class="imagen_fondo" style="margin-top: -10px;">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">How to use polittizen</h1>
    </div>
  </div>

  <div class="paddings" style="background-color: white;">
    <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
      <div class="row">    
        <div class="col-md-12 col-md-6">
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;">
                  <i class="fa fa-university" aria-hidden="true"><span style="padding-bottom: -15px;"><i class="fa fa-user" aria-hidden="true" style="margin-left: -40px; color: #0084B4; font-size: 30px; "></i></i></span>
                </h1>
                <h3 style="text-align: center;">1. Crea tu usuario</h3>
              </li>
              <li>
                <h5>Para poder poder participar de la comunidad es necesario ser usuario registrado, pero no te preocupes porque puedes echar un vistazo a lo más popular del momento en el <a href="/popular">siguiente enlace,</a> estamos seguros que después querrás ser un polittizen.</h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-circle-o" aria-hidden="true"></i></h1>
              </li>
              <li>
                <h3 style="text-align: center;">2. Selecciona tus lobbies administrativos</h3>
                <h5 style="">Lo siguiente que te recomendamos es seleccionar tus lobbies administrativos, el de tu país, tu autonomía o estado, y el de tu ciudad y/o provincia.</h5>
                <h5 style="">En estos podrás debatir que decisiones tomar dentro de tus comunidad</h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-circle-o" aria-hidden="true"></i><i class="fa fa-circle-o" aria-hidden="true" style="margin-left: -20px; font-size: 35px;"></i></h1>
              </li>
                <h3 style="text-align: center;">3. Selecciona otros lobbies</h3>
                <h5 style="">Un lobby tiene la característica de grupo de poder y por lo tanto te cuanto maor número de polittizens dentro del lobby mayor influencia tendrá.</h5>
                <h5>Únete a el lobby de tu profesión, crea el lobby de tu hobbie favorito o el de tu asociación de vecinos.
              </li>
            </ul>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-6">
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-users" aria-hidden="true"></i></h1>
                <h3 style="text-align: center;">4. Haz amigos!</h3>
              </li>              
              <li>
                <h5 style="">Conecta con otros usuarios dentro de tus lobbies o cualquiera que te parezca que merezca tu apoyo y descubrirás un montón de noticias, comentarios, debates y propuestas imperdibles.</h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-file-text" aria-hidden="true"></i><i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin-left: -20px; color: green; font-size: 40px;"></i></h1>
                <h3 style="text-align: center;">5. Crea tu primera consulta!</h3>
              </li>              
              <li>
                <h5 style="">El último paso para ser un verdadero polittizen es completar tu primera consulta, puede ser sobre el tema que quieras, por ejemplo, un problema en tu barrio, un cambio de ley que afecte a tu deporte favorito, en tu círculo profesional pregunta por temas que te afecten.</h5>
              </li>
            </ul>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <ul>
              <li>
                <h1 style="text-align: center; font-size: 45px;"><i class="fa fa-check" aria-hidden="true" style="color: green;"></i></h1>
                <h3 style="text-align: center;">6. Enjoy!</h3>
              </li>              
              <li>
                <h5 style="">Ya estás preparado para poder ser todo un polittizen! Comienza compartiendo tus primeras reflexiones con la comunidad.</h5>
              </li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
  </div>

</div>