<% provide(:title) %>
<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">Objetivos</h1>
    </div>
  </div>

  <div class="container">
    <div class="paddings" style="background-color: white;">
      <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
        <div class="row">   

            
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <h1 style="font-size: 30px;">Objetivos</h1>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Conseguir mejores partidos políticos, generando mayor y mejor competencia a los partidos tradicionales para ganar en competitividad, transparencia y conectividad y a la vez desarrollar tecnología en el actual monopolio que tienen los partidos.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>

              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Eliminar intereses e influencias en la ejecución de políticas, eliminar los problemas que surgen de la financiación de candidatos y campañas, ganar en eficiencia eliminando batallas partidistas e implementar la legitimidad de los gobiernos.</h3>
  
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Corregir la relación y el acceso que tiene la ciudanía a la política y a los partidos.</h3>

              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Poder elegir a nuestros representantes y que cualquier persona bien preparada con ganas de colaborar con la sociedad pueda hacerlo.</h3>

              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Mayor poder de decisión en la detección de los problemas que tenemos los ciudadanos y una priorización en la resolución de éstos.</h3>
  
            </div>                 
            
        </div> 
      </div>
    </div>
  </div>

</div>
