<% provide(:title) %>

<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">visión</h1>
    </div>
  </div>

  <div class="container">
    <div class="paddings" style="background-color: white;">
      <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
        <div class="row">   

            
            <div class="col-md-1"></div>
            <div class="col-md-10">

              <h1 style="font-size: 40px;">Nuestra visión:</h1>
              <h1 style="font-weight: lighter; font-size: 40px;">Una política que nos represente y que esté preparada para los retos del futuro.</h1> 
              <h5>En Politizen recopilamos la información que se genera todos los días dentro de la plataforma para detectar problemas, necesidades o tendencias dentro de la sociedad mediante el análisis de datos, generando información útil a disposición de nuestros representantes, los diferenctes gobiernos e instituciones para mejorar la vida de todos.</h5>
              </h5>
            </div>                 
            
        </div> 
      </div>
    </div>
  </div>

</div>