<% @comments.order("created_at desc").take(1).each do |comment| %>
	  <div id="comentario_added" class="comentario">
	    <div>
	      <%= image_tag (comment.user.foto.url), class: "img-circle", size: 30 if comment.user.foto? %>
	      <div style="padding-top: 5px; display: inline-block;">
	      <b><%= link_to comment.user.name, comment.user %></b>     <%= comment.contenido %>      <span class="timestamp" style="font-size: 11px;"><%= time_ago_in_words(comment.created_at) %> ago.</span>  
	      </div>
	    </div>
	  </div>
	<% end %>