
  <footer class="footer" style="position: relative; bottom: 10px; width: 100%; align-items: center;">
    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-6">
        <ul class="list-space-s">
          <li>
            <h5>Acerca de</h5>
          </li>
          <li>
            <h6><%= link_to "Home", root_url %></h6>
          </li>
          <li>
            <a href="/about"><h6>Sobre polittizen</h6></a>
          </li>
          <li>
            <a href="/help"><h6>Ayuda / Contacto</h6></a>
          </li>          
        </ul>
      </div>
      <div class="col-xs-6">
        <ul class="list-space-s">
          <li>
            <h5>Ayuda</h5>
          </li>

          <li>
            <a href='/howtouse'><h6>Cómo usar polittizen</h6></a>
          </li>
          <li>
            <a href="/vision"><h6>Nuestra visión</h6></a>
          </li>
          <li>
            <a href="/objetivos"><h6>Objetivos</h6></a>
          </li>
          <li>
            <a href="/candidate"><h6>Candidatos</h6></a>
          </li>                              
        </ul>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6">
      
      <div class="col-xs-6">
        <ul class="list-space-s">
          <li>
            <h5>Redes sociales</h5>
          </li>
          <li>
            <a href="https://twitter.com/polittizen"><h6>Twitter</h6></a>
          </li>
          <li>
            <a href="https://www.facebook.com/polittizen"><h6>Facebook</h6></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <div style="margin-top: 20px; border: 3px solid #1DA1F2; border-radius: 15px; padding: 10px;">
          <h3 style="padding: 15px; color: green; margin: 0px; font-size: 13px;">polittizen 2018, por Roberto Villasevil Bargueño</h3>  
        </div>
      </div>
    </div>
  </div>

  </footer>
